


.App-link {
  color: #09d3ac;
}


button{
  font-size: 15px;
  margin-left: 900px;
  text-align: right;

}
#square{
  font-size: 15px;
  margin-top: 300px;
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;
  border-style: groove;
}
